In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [49]:
colesterol = pd.read_csv("src/colesterol.csv", sep = ";")
colesterol.head(5)

                         nombre  edad sexo  peso altura  colesterol
0  José Luis Martínez Izquierdo    18    H  85.0   1,79       182.0
1                Rosa Díaz Díaz    32    M  65.0   1,73       232.0
2         Javier García Sánchez    24    H   NaN   1,81       191.0
3           Carmen López Pinzón    35    M  65.0   1,70       200.0
4          Marisa López Collado    46    M  51.0   1,58       148.0

In [50]:
colesterol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      14 non-null     object
 1   edad        14 non-null     int64
 2   sexo        14 non-null     object
 3   peso        13 non-null     float64
 4   altura      14 non-null     object
 5   colesterol  13 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 800.0+ bytes

In [51]:
colesterol.describe() #Valores estadisticos

            edad        peso  colesterol
count  14.000000   13.000000   13.000000
mean   38.214286   70.923077  220.230769
std    15.621379   16.126901   39.847948
min    18.000000   51.000000  148.000000
25%    24.750000   61.000000  194.000000
50%    35.000000   65.000000  210.000000
75%    49.750000   78.000000  249.000000
max    68.000000  109.000000  280.000000

In [52]:
colesterol.shape

(14, 6)

In [53]:
colesterol2 = colesterol.dropna()
colesterol2.shape

(12, 6)

In [55]:
colesterol

                             nombre  edad sexo   peso altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0   1,79       182.0
1                    Rosa Díaz Díaz    32    M   65.0   1,73       232.0
2             Javier García Sánchez    24    H    NaN   1,81       191.0
3               Carmen López Pinzón    35    M   65.0   1,70       200.0
4              Marisa López Collado    46    M   51.0   1,58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0   1,74       249.0
6           Antonio Fernández Ocaña    51    H   62.0   1,72       276.0
7             Pilar Martín González    22    M   60.0   1,66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0   1,94       241.0
9           Santiago Reillo Manzano    46    H   75.0   1,85       280.0
10            Macarena Álvarez Luna    53    M   55.0   1,62       262.0
11       José María de la Guía Sanz    58    H   78.0   1,87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0   1,98       210.0
13            Carolina Rubio Moreno    20    M   61.0   1,77       194.0

In [54]:
colesterol2 #se puede ver que se borro la fila 2 y la fila por tener valores nulos

                             nombre  edad sexo   peso altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0   1,79       182.0
1                    Rosa Díaz Díaz    32    M   65.0   1,73       232.0
3               Carmen López Pinzón    35    M   65.0   1,70       200.0
4              Marisa López Collado    46    M   51.0   1,58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0   1,74       249.0
6           Antonio Fernández Ocaña    51    H   62.0   1,72       276.0
8              Pedro Gálvez Tenorio    35    H   90.0   1,94       241.0
9           Santiago Reillo Manzano    46    H   75.0   1,85       280.0
10            Macarena Álvarez Luna    53    M   55.0   1,62       262.0
11       José María de la Guía Sanz    58    H   78.0   1,87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0   1,98       210.0
13            Carolina Rubio Moreno    20    M   61.0   1,77       194.0

In [65]:
colesterol.iloc[colesterol.isna().sum(axis = 1).idxmax()]

nombre        Javier García Sánchez
edad                             24
sexo                              H
peso                            NaN
altura                         1,81
colesterol                    191.0
Name: 2, dtype: object

In [68]:
colesterol["edad"].mean()

38.214285714285715