In [1]:
import pymysql
import pandas as pd
from datetime import datetime

https://data.buenosaires.gob.ar/dataset/sube/resource/b88f4c3d-325d-4397-93ff-c54657357092

In [2]:
url = 'https://cdn.buenosaires.gob.ar/datosabiertos/datasets/transporte-y-obras-publicas/sube/dataset_viajes_sube.csv'

In [3]:
transporte = pd.read_csv(url)

In [4]:
transporte

     TIPO_TRANSPORTE                 DIA PARCIAL  CANTIDAD
0              Subte  31MAR2020:00:00:00     NaN       NaN
1              Subte  01APR2020:00:00:00     NaN       NaN
2              Subte  02APR2020:00:00:00     NaN       NaN
3              Subte  03APR2020:00:00:00     NaN       NaN
4              Subte  04APR2020:00:00:00     NaN       NaN
...              ...                 ...     ...       ...
1873           Subte  25SEP2021:00:00:00    True  230834.0
1874           Subte  26SEP2021:00:00:00    True  133714.0
1875            Tren  25SEP2021:00:00:00   False  516037.0
1876            Tren  26SEP2021:00:00:00   False  239172.0
1877            Tren  27SEP2021:00:00:00    True  829845.0

[1878 rows x 4 columns]

In [5]:
transporte.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1878 entries, 0 to 1877
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TIPO_TRANSPORTE  1878 non-null   object
 1   DIA              1878 non-null   object
 2   PARCIAL          996 non-null    object
 3   CANTIDAD         996 non-null    float64
dtypes: float64(1), object(3)
memory usage: 58.8+ KB

In [6]:
transporte = transporte.loc[transporte['CANTIDAD'].notna()]

In [7]:
transporte.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 996 entries, 166 to 1877
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TIPO_TRANSPORTE  996 non-null    object
 1   DIA              996 non-null    object
 2   PARCIAL          996 non-null    object
 3   CANTIDAD         996 non-null    float64
dtypes: float64(1), object(3)
memory usage: 38.9+ KB

In [8]:
transporte = transporte.rename(str.lower, axis='columns')

In [9]:
transporte.head()

    tipo_transporte                 dia parcial   cantidad
166       Colectivo  04MAR2021:00:00:00   False  2914400.0
167           Subte  03MAR2021:00:00:00    True   226806.0
168           Subte  04MAR2021:00:00:00   False   176444.0
169            Tren  04MAR2021:00:00:00   False   630253.0
170       Colectivo  17MAR2021:00:00:00   False  2836336.0

In [10]:
def fechas(df):
    lista = df['dia'].to_list()
    fechas = []
    for i in range(len(lista)):
        dia = lista[i][:2]
        mes = lista[i][2:5].lower()
        anio = lista[i][5:9]
        fecha = anio + "-" + mes + "-" + dia
        fecha = datetime.strptime(fecha, "%Y-%b-%d")
        fechas.append(fecha)
    df['dia'] = fechas
    return df

In [11]:
fechas(transporte)

     tipo_transporte        dia parcial   cantidad
166        Colectivo 2021-03-04   False  2914400.0
167            Subte 2021-03-03    True   226806.0
168            Subte 2021-03-04   False   176444.0
169             Tren 2021-03-04   False   630253.0
170        Colectivo 2021-03-17   False  2836336.0
...              ...        ...     ...        ...
1873           Subte 2021-09-25    True   230834.0
1874           Subte 2021-09-26    True   133714.0
1875            Tren 2021-09-25   False   516037.0
1876            Tren 2021-09-26   False   239172.0
1877            Tren 2021-09-27    True   829845.0

[996 rows x 4 columns]

In [12]:
transporte = transporte.loc[transporte['parcial'] == False].reset_index(drop=True)

In [13]:
transporte = transporte.sort_values('dia')

In [14]:
tipo_transporte = pd.DataFrame(columns=['idTransporte', 'nombreTransporte'])

In [15]:
for idx, val in enumerate(transporte['tipo_transporte'].unique(), start=1):
    tipo_transporte.loc[idx] = [idx, val]

In [16]:
tipo_transporte

   idTransporte nombreTransporte
1             1             Tren
2             2        Colectivo
3             3            Subte

In [17]:
subte = transporte.loc[transporte['tipo_transporte'] == 'Subte']

In [18]:
tren = transporte.loc[transporte['tipo_transporte'] == 'Tren']

In [19]:
colectivo = transporte.loc[transporte['tipo_transporte'] == 'Colectivo']

In [20]:
subte

    tipo_transporte        dia parcial  cantidad
600           Subte 2020-12-10   False  193289.0
605           Subte 2020-12-11   False  183398.0
606           Subte 2020-12-12   False  102781.0
607           Subte 2020-12-13   False   40472.0
682           Subte 2020-12-14   False  177083.0
..              ...        ...     ...       ...
139           Subte 2021-10-14   False  525582.0
586           Subte 2021-10-15   False  525513.0
587           Subte 2021-10-16   False  283811.0
588           Subte 2021-10-17   False  163059.0
593           Subte 2021-10-18   False  508730.0

[143 rows x 4 columns]

In [21]:
transporte.columns

Index(['tipo_transporte', 'dia', 'parcial', 'cantidad'], dtype='object')

In [22]:
columnas = ['dia', 'tipo_transporte', 'cantidad']

In [23]:
subte = subte[columnas].reset_index(drop=True)

In [24]:
tren = tren[columnas].reset_index(drop=True)

In [25]:
colectivo = colectivo[columnas].reset_index(drop=True)

In [26]:
colectivo

           dia tipo_transporte   cantidad
0   2020-11-25       Colectivo  1995409.0
1   2020-11-27       Colectivo  2285206.0
2   2020-12-02       Colectivo  2216133.0
3   2020-12-05       Colectivo  1775955.0
4   2020-12-06       Colectivo  1019610.0
..         ...             ...        ...
313 2021-10-15       Colectivo  4021969.0
314 2021-10-16       Colectivo  2568445.0
315 2021-10-17       Colectivo  1562568.0
316 2021-10-18       Colectivo  3615212.0
317 2021-10-19       Colectivo  3829389.0

[318 rows x 3 columns]

In [27]:
subte['tipo_transporte'] = tipo_transporte['idTransporte'].loc[tipo_transporte['nombreTransporte'] == 'Subte'].values[0]

In [28]:
subte

           dia  tipo_transporte  cantidad
0   2020-12-10                3  193289.0
1   2020-12-11                3  183398.0
2   2020-12-12                3  102781.0
3   2020-12-13                3   40472.0
4   2020-12-14                3  177083.0
..         ...              ...       ...
138 2021-10-14                3  525582.0
139 2021-10-15                3  525513.0
140 2021-10-16                3  283811.0
141 2021-10-17                3  163059.0
142 2021-10-18                3  508730.0

[143 rows x 3 columns]

In [29]:
tren['tipo_transporte'] = tipo_transporte['idTransporte'].loc[tipo_transporte['nombreTransporte'] == 'Tren'].values[0]

In [30]:
tren

           dia  tipo_transporte  cantidad
0   2020-11-23                1  140868.0
1   2020-11-24                1  508082.0
2   2020-11-25                1  445829.0
3   2020-11-27                1  526870.0
4   2020-12-02                1  520595.0
..         ...              ...       ...
310 2021-10-15                1  989237.0
311 2021-10-16                1  608366.0
312 2021-10-17                1  255101.0
313 2021-10-18                1  944001.0
314 2021-10-19                1  941259.0

[315 rows x 3 columns]

In [31]:
colectivo['tipo_transporte'] = tipo_transporte['idTransporte'].loc[tipo_transporte['nombreTransporte'] == 'Colectivo'].values[0]

In [32]:
colectivo

           dia  tipo_transporte   cantidad
0   2020-11-25                2  1995409.0
1   2020-11-27                2  2285206.0
2   2020-12-02                2  2216133.0
3   2020-12-05                2  1775955.0
4   2020-12-06                2  1019610.0
..         ...              ...        ...
313 2021-10-15                2  4021969.0
314 2021-10-16                2  2568445.0
315 2021-10-17                2  1562568.0
316 2021-10-18                2  3615212.0
317 2021-10-19                2  3829389.0

[318 rows x 3 columns]

# Conexión a la BD

In [33]:
conexion = pymysql.connect(
host='localhost',
user='root' # nombre de usuario,
password='' # contraseña de la BD)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1045502750.py, line 3)

In [ ]:
cursor = conexion.cursor()

In [ ]:
crear_bd = "create database if not exists transporte"

In [ ]:
cursor.execute(crear_bd)

1

In [ ]:
tipo_transporte

   idTransporte nombreTransporte
1             1             Tren
2             2        Colectivo
3             3            Subte

In [ ]:
cursor.execute('use transporte')

0

In [ ]:
create_tipo = """
create table if not exists 
tipo_transporte (
idTransporte INT NOT NULL AUTO_INCREMENT,
nombreTransporte VARCHAR(50),
PRIMARY KEY (idTransporte));
"""

In [ ]:
cursor.execute(create_tipo)

0

In [ ]:
create_subte = """
create table if not exists 
subte (
pointId int not null auto_increment,
fecha DATE,
tipoTransporte int,
cantidad float,
PRIMARY KEY (pointId),
FOREIGN KEY (tipoTransporte) REFERENCES tipo_transporte(idTransporte)
);
"""

In [ ]:
cursor.execute(create_subte)

0

In [ ]:
create_tren = """
create table if not exists 
tren (
pointId int not null auto_increment,
fecha DATE,
tipoTransporte int,
cantidad float,
PRIMARY KEY (pointId),
FOREIGN KEY (tipoTransporte) REFERENCES tipo_transporte(idTransporte)
);
"""

In [ ]:
cursor.execute(create_tren)

0

In [ ]:
create_colectivo = """
create table if not exists 
colectivo (
pointId int not null auto_increment,
fecha DATE,
tipoTransporte int,
cantidad float,
PRIMARY KEY (pointId),
FOREIGN KEY (tipoTransporte) REFERENCES tipo_transporte(idTransporte)
);
"""

In [ ]:
cursor.execute(create_colectivo)

0

In [ ]:
filas_tipo = [tuple(tipo_transporte.iloc[i].values) for i in range(tipo_transporte.shape[0])]

In [ ]:
filas_tipo

[(1, 'Tren'), (2, 'Colectivo'), (3, 'Subte')]

In [ ]:
fill_transporte = """
INSERT INTO tipo_transporte (idTransporte, nombreTransporte)
VALUES (%s, %s)
"""

In [ ]:
cursor.executemany(fill_transporte, filas_tipo)

3

In [ ]:
cursor.execute('select * from tipo_transporte')

3

In [ ]:
conexion.commit()

In [ ]:
insertar_subte = """
INSERT INTO subte (fecha, tipoTransporte, cantidad)
VALUES (%s, %s, %s)
"""

In [ ]:
filas_subte = [tuple(subte.iloc[i].values) for i in range(subte.shape[0])]

In [ ]:
cursor.executemany(insertar_subte, filas_subte)

143

In [ ]:
conexion.commit()

In [ ]:
filas_subte

[(Timestamp('2020-12-10 00:00:00'), 3, 193289.0),
 (Timestamp('2020-12-11 00:00:00'), 3, 183398.0),
 (Timestamp('2020-12-12 00:00:00'), 3, 102781.0),
 (Timestamp('2020-12-13 00:00:00'), 3, 40472.0),
 (Timestamp('2020-12-14 00:00:00'), 3, 177083.0),
 (Timestamp('2020-12-15 00:00:00'), 3, 175625.0),
 (Timestamp('2020-12-16 00:00:00'), 3, 188097.0),
 (Timestamp('2020-12-17 00:00:00'), 3, 190085.0),
 (Timestamp('2020-12-18 00:00:00'), 3, 203783.0),
 (Timestamp('2020-12-19 00:00:00'), 3, 120934.0),
 (Timestamp('2020-12-20 00:00:00'), 3, 54681.0),
 (Timestamp('2021-01-08 00:00:00'), 3, 167895.0),
 (Timestamp('2021-01-09 00:00:00'), 3, 89593.0),
 (Timestamp('2021-01-10 00:00:00'), 3, 41197.0),
 (Timestamp('2021-01-18 00:00:00'), 3, 163756.0),
 (Timestamp('2021-01-21 00:00:00'), 3, 165226.0),
 (Timestamp('2021-01-22 00:00:00'), 3, 169214.0),
 (Timestamp('2021-01-23 00:00:00'), 3, 89612.0),
 (Timestamp('2021-01-24 00:00:00'), 3, 41628.0),
 (Timestamp('2021-01-25 00:00:00'), 3, 145011.0),
 (Timestamp('2021-01-26 00:00:00'), 3, 158709.0),
 (Timestamp('2021-01-26 00:00:00'), 3, 158709.0),
 (Timestamp('2021-01-26 00:00:00'), 3, 158709.0),
 (Timestamp('2021-01-27 00:00:00'), 3, 168262.0),
 (Timestamp('2021-01-27 00:00:00'), 3, 168262.0),
 (Timestamp('2021-01-28 00:00:00'), 3, 172317.0),
 (Timestamp('2021-01-29 00:00:00'), 3, 168413.0),
 (Timestamp('2021-01-30 00:00:00'), 3, 77991.0),
 (Timestamp('2021-01-31 00:00:00'), 3, 39582.0),
 (Timestamp('2021-02-01 00:00:00'), 3, 158363.0),
 (Timestamp('2021-02-01 00:00:00'), 3, 158363.0),
 (Timestamp('2021-02-02 00:00:00'), 3, 178024.0),
 (Timestamp('2021-02-03 00:00:00'), 3, 140520.0),
 (Timestamp('2021-02-03 00:00:00'), 3, 140520.0),
 (Timestamp('2021-02-04 00:00:00'), 3, 185191.0),
 (Timestamp('2021-02-05 00:00:00'), 3, 180085.0),
 (Timestamp('2021-02-06 00:00:00'), 3, 103359.0),
 (Timestamp('2021-02-07 00:00:00'), 3, 49961.0),
 (Timestamp('2021-02-08 00:00:00'), 3, 177166.0),
 (Timestamp('2021-02-09 00:00:00'), 3, 188850.0),
 (Timestamp('2021-02-10 00:00:00'), 3, 193600.0),
 (Timestamp('2021-02-11 00:00:00'), 3, 196462.0),
 (Timestamp('2021-02-12 00:00:00'), 3, 196806.0),
 (Timestamp('2021-02-13 00:00:00'), 3, 104260.0),
 (Timestamp('2021-02-14 00:00:00'), 3, 56115.0),
 (Timestamp('2021-02-15 00:00:00'), 3, 62654.0),
 (Timestamp('2021-02-16 00:00:00'), 3, 59475.0),
 (Timestamp('2021-02-17 00:00:00'), 3, 203919.0),
 (Timestamp('2021-02-18 00:00:00'), 3, 214273.0),
 (Timestamp('2021-02-19 00:00:00'), 3, 209921.0),
 (Timestamp('2021-02-19 00:00:00'), 3, 209921.0),
 (Timestamp('2021-02-26 00:00:00'), 3, 220593.0),
 (Timestamp('2021-02-27 00:00:00'), 3, 119016.0),
 (Timestamp('2021-03-01 00:00:00'), 3, 203885.0),
 (Timestamp('2021-03-02 00:00:00'), 3, 217653.0),
 (Timestamp('2021-03-04 00:00:00'), 3, 176444.0),
 (Timestamp('2021-03-05 00:00:00'), 3, 237689.0),
 (Timestamp('2021-03-06 00:00:00'), 3, 128228.0),
 (Timestamp('2021-03-08 00:00:00'), 3, 249851.0),
 (Timestamp('2021-03-26 00:00:00'), 3, 263171.0),
 (Timestamp('2021-03-29 00:00:00'), 3, 256929.0),
 (Timestamp('2021-03-30 00:00:00'), 3, 258681.0),
 (Timestamp('2021-04-13 00:00:00'), 3, 206413.0),
 (Timestamp('2021-04-14 00:00:00'), 3, 202415.0),
 (Timestamp('2021-04-15 00:00:00'), 3, 204052.0),
 (Timestamp('2021-04-16 00:00:00'), 3, 198110.0),
 (Timestamp('2021-04-26 00:00:00'), 3, 181247.0),
 (Timestamp('2021-04-30 00:00:00'), 3, 194218.0),
 (Timestamp('2021-05-15 00:00:00'), 3, 90659.0),
 (Timestamp('2021-05-16 00:00:00'), 3, 38372.0),
 (Timestamp('2021-05-17 00:00:00'), 3, 180418.0),
 (Timestamp('2021-05-18 00:00:00'), 3, 179445.0),
 (Timestamp('2021-05-19 00:00:00'), 3, 183107.0),
 (Timestamp('2021-05-23 00:00:00'), 3, 16831.0),
 (Timestamp('2021-05-24 00:00:00'), 3, 32558.0),
 (Timestamp('2021-05-25 00:00:00'), 3, 26250.0),
 (Timestamp('2021-05-28 00:00:00'), 3, 126343.0),
 (Timestamp('2021-05-29 00:00:00'), 3, 53107.0),
 (Timestamp('2021-05-30 00:00:00'), 3, 23593.0),
 (Timestamp('2021-05-31 00:00:00'), 3, 166682.0),
 (Timestamp('2021-06-01 00:00:00'), 3, 176348.0),
 (Timestamp('2021-06-02 00:00:00'), 3, 184581.0),
 (Timestamp('2021-06-03 00:00:00'), 3, 190087.0),
 (Timestamp('2021-06-04 00:00:00'), 3, 191353.0),
 (Timestamp('2021-06-05 00:00:00'), 3, 63990.0),
 (Timestamp('2021-06-06 00:00:00'), 3, 34119.0),
 (Timestamp('2021-06-07 00:00:00'), 3, 189233.0),
 (Timestamp('2021-06-08 00:00:00'), 3, 192893.0),
 (Timestamp('2021-06-29 00:00:00'), 3, 212069.0),
 (Timestamp('2021-06-30 00:00:00'), 3, 217553.0),
 (Timestamp('2021-07-01 00:00:00'), 3, 228622.0),
 (Timestamp('2021-07-02 00:00:00'), 3, 239201.0),
 (Timestamp('2021-07-03 00:00:00'), 3, 125897.0),
 (Timestamp('2021-07-05 00:00:00'), 3, 231873.0),
 (Timestamp('2021-07-06 00:00:00'), 3, 241674.0),
 (Timestamp('2021-07-07 00:00:00'), 3, 232677.0),
 (Timestamp('2021-07-08 00:00:00'), 3, 272915.0),
 (Timestamp('2021-07-09 00:00:00'), 3, 97277.0),
 (Timestamp('2021-07-10 00:00:00'), 3, 133139.0),
 (Timestamp('2021-07-11 00:00:00'), 3, 63367.0),
 (Timestamp('2021-07-12 00:00:00'), 3, 236678.0),
 (Timestamp('2021-07-15 00:00:00'), 3, 273433.0),
 (Timestamp('2021-07-16 00:00:00'), 3, 284736.0),
 (Timestamp('2021-07-17 00:00:00'), 3, 157033.0),
 (Timestamp('2021-08-09 00:00:00'), 3, 279075.0),
 (Timestamp('2021-08-10 00:00:00'), 3, 319077.0),
 (Timestamp('2021-08-11 00:00:00'), 3, 327681.0),
 (Timestamp('2021-08-12 00:00:00'), 3, 331681.0),
 (Timestamp('2021-08-13 00:00:00'), 3, 342279.0),
 (Timestamp('2021-08-17 00:00:00'), 3, 337841.0),
 (Timestamp('2021-08-18 00:00:00'), 3, 376850.0),
 (Timestamp('2021-08-19 00:00:00'), 3, 338540.0),
 (Timestamp('2021-08-20 00:00:00'), 3, 359636.0),
 (Timestamp('2021-08-21 00:00:00'), 3, 187894.0),
 (Timestamp('2021-08-22 00:00:00'), 3, 103968.0),
 (Timestamp('2021-08-23 00:00:00'), 3, 338713.0),
 (Timestamp('2021-08-24 00:00:00'), 3, 354659.0),
 (Timestamp('2021-08-25 00:00:00'), 3, 351288.0),
 (Timestamp('2021-08-26 00:00:00'), 3, 359413.0),
 (Timestamp('2021-08-27 00:00:00'), 3, 378633.0),
 (Timestamp('2021-08-31 00:00:00'), 3, 361275.0),
 (Timestamp('2021-09-11 00:00:00'), 3, 192177.0),
 (Timestamp('2021-09-12 00:00:00'), 3, 288.0),
 (Timestamp('2021-09-13 00:00:00'), 3, 381618.0),
 (Timestamp('2021-09-14 00:00:00'), 3, 413457.0),
 (Timestamp('2021-09-15 00:00:00'), 3, 420574.0),
 (Timestamp('2021-09-16 00:00:00'), 3, 419012.0),
 (Timestamp('2021-09-17 00:00:00'), 3, 445613.0),
 (Timestamp('2021-09-18 00:00:00'), 3, 238090.0),
 (Timestamp('2021-09-19 00:00:00'), 3, 124486.0),
 (Timestamp('2021-09-20 00:00:00'), 3, 408437.0),
 (Timestamp('2021-09-21 00:00:00'), 3, 445181.0),
 (Timestamp('2021-09-24 00:00:00'), 3, 456820.0),
 (Timestamp('2021-09-29 00:00:00'), 3, 441713.0),
 (Timestamp('2021-09-30 00:00:00'), 3, 427791.0),
 (Timestamp('2021-10-11 00:00:00'), 3, 6954.0),
 (Timestamp('2021-10-12 00:00:00'), 3, 487316.0),
 (Timestamp('2021-10-13 00:00:00'), 3, 491433.0),
 (Timestamp('2021-10-14 00:00:00'), 3, 525582.0),
 (Timestamp('2021-10-15 00:00:00'), 3, 525513.0),
 (Timestamp('2021-10-16 00:00:00'), 3, 283811.0),
 (Timestamp('2021-10-17 00:00:00'), 3, 163059.0),
 (Timestamp('2021-10-18 00:00:00'), 3, 508730.0)]

In [ ]:
insertar_tren = """
INSERT INTO tren (fecha, tipoTransporte, cantidad)
VALUES (%s, %s, %s)
"""

In [ ]:
filas_tren = [tuple(tren.iloc[i].values) for i in range(tren.shape[0])]

In [ ]:
filas_tren

[(Timestamp('2020-11-23 00:00:00'), 1, 140868.0),
 (Timestamp('2020-11-24 00:00:00'), 1, 508082.0),
 (Timestamp('2020-11-25 00:00:00'), 1, 445829.0),
 (Timestamp('2020-11-27 00:00:00'), 1, 526870.0),
 (Timestamp('2020-12-02 00:00:00'), 1, 520595.0),
 (Timestamp('2020-12-05 00:00:00'), 1, 320587.0),
 (Timestamp('2020-12-06 00:00:00'), 1, 129866.0),
 (Timestamp('2020-12-07 00:00:00'), 1, 209166.0),
 (Timestamp('2020-12-08 00:00:00'), 1, 182705.0),
 (Timestamp('2020-12-09 00:00:00'), 1, 593482.0),
 (Timestamp('2020-12-11 00:00:00'), 1, 571729.0),
 (Timestamp('2020-12-12 00:00:00'), 1, 324752.0),
 (Timestamp('2020-12-13 00:00:00'), 1, 107034.0),
 (Timestamp('2020-12-14 00:00:00'), 1, 584492.0),
 (Timestamp('2020-12-15 00:00:00'), 1, 572220.0),
 (Timestamp('2020-12-16 00:00:00'), 1, 589055.0),
 (Timestamp('2020-12-17 00:00:00'), 1, 573435.0),
 (Timestamp('2020-12-18 00:00:00'), 1, 602645.0),
 (Timestamp('2020-12-19 00:00:00'), 1, 351574.0),
 (Timestamp('2020-12-20 00:00:00'), 1, 145965.0),
 (Timestamp('2020-12-21 00:00:00'), 1, 650878.0),
 (Timestamp('2020-12-29 00:00:00'), 1, 539853.0),
 (Timestamp('2020-12-30 00:00:00'), 1, 526284.0),
 (Timestamp('2020-12-31 00:00:00'), 1, 244253.0),
 (Timestamp('2021-01-01 00:00:00'), 1, 50009.0),
 (Timestamp('2021-01-02 00:00:00'), 1, 218129.0),
 (Timestamp('2021-01-03 00:00:00'), 1, 115407.0),
 (Timestamp('2021-01-04 00:00:00'), 1, 515712.0),
 (Timestamp('2021-01-05 00:00:00'), 1, 521679.0),
 (Timestamp('2021-01-07 00:00:00'), 1, 520003.0),
 (Timestamp('2021-01-08 00:00:00'), 1, 546955.0),
 (Timestamp('2021-01-09 00:00:00'), 1, 279137.0),
 (Timestamp('2021-01-09 00:00:00'), 1, 279137.0),
 (Timestamp('2021-01-10 00:00:00'), 1, 114937.0),
 (Timestamp('2021-01-10 00:00:00'), 1, 114937.0),
 (Timestamp('2021-01-11 00:00:00'), 1, 397307.0),
 (Timestamp('2021-01-11 00:00:00'), 1, 397307.0),
 (Timestamp('2021-01-15 00:00:00'), 1, 531217.0),
 (Timestamp('2021-01-21 00:00:00'), 1, 515448.0),
 (Timestamp('2021-01-22 00:00:00'), 1, 531611.0),
 (Timestamp('2021-01-23 00:00:00'), 1, 277859.0),
 (Timestamp('2021-01-24 00:00:00'), 1, 123274.0),
 (Timestamp('2021-01-25 00:00:00'), 1, 508638.0),
 (Timestamp('2021-01-26 00:00:00'), 1, 512354.0),
 (Timestamp('2021-01-27 00:00:00'), 1, 538559.0),
 (Timestamp('2021-01-27 00:00:00'), 1, 538559.0),
 (Timestamp('2021-01-27 00:00:00'), 1, 538559.0),
 (Timestamp('2021-01-27 00:00:00'), 1, 538559.0),
 (Timestamp('2021-01-28 00:00:00'), 1, 515176.0),
 (Timestamp('2021-01-28 00:00:00'), 1, 515176.0),
 (Timestamp('2021-01-29 00:00:00'), 1, 510853.0),
 (Timestamp('2021-01-30 00:00:00'), 1, 226517.0),
 (Timestamp('2021-01-31 00:00:00'), 1, 102571.0),
 (Timestamp('2021-02-01 00:00:00'), 1, 487567.0),
 (Timestamp('2021-02-02 00:00:00'), 1, 552335.0),
 (Timestamp('2021-02-02 00:00:00'), 1, 552335.0),
 (Timestamp('2021-02-03 00:00:00'), 1, 554665.0),
 (Timestamp('2021-02-04 00:00:00'), 1, 570806.0),
 (Timestamp('2021-02-04 00:00:00'), 1, 570806.0),
 (Timestamp('2021-02-05 00:00:00'), 1, 591691.0),
 (Timestamp('2021-02-06 00:00:00'), 1, 326008.0),
 (Timestamp('2021-02-07 00:00:00'), 1, 145623.0),
 (Timestamp('2021-02-08 00:00:00'), 1, 572936.0),
 (Timestamp('2021-02-09 00:00:00'), 1, 593795.0),
 (Timestamp('2021-02-09 00:00:00'), 1, 593795.0),
 (Timestamp('2021-02-10 00:00:00'), 1, 571417.0),
 (Timestamp('2021-02-11 00:00:00'), 1, 574591.0),
 (Timestamp('2021-02-12 00:00:00'), 1, 600912.0),
 (Timestamp('2021-02-13 00:00:00'), 1, 316792.0),
 (Timestamp('2021-02-14 00:00:00'), 1, 138213.0),
 (Timestamp('2021-02-15 00:00:00'), 1, 206038.0),
 (Timestamp('2021-02-16 00:00:00'), 1, 196751.0),
 (Timestamp('2021-02-17 00:00:00'), 1, 633007.0),
 (Timestamp('2021-02-18 00:00:00'), 1, 611398.0),
 (Timestamp('2021-02-19 00:00:00'), 1, 605933.0),
 (Timestamp('2021-02-20 00:00:00'), 1, 311326.0),
 (Timestamp('2021-02-20 00:00:00'), 1, 311326.0),
 (Timestamp('2021-02-21 00:00:00'), 1, 136842.0),
 (Timestamp('2021-02-21 00:00:00'), 1, 136842.0),
 (Timestamp('2021-02-22 00:00:00'), 1, 473602.0),
 (Timestamp('2021-02-22 00:00:00'), 1, 473602.0),
 (Timestamp('2021-02-23 00:00:00'), 1, 623588.0),
 (Timestamp('2021-02-24 00:00:00'), 1, 628756.0),
 (Timestamp('2021-02-25 00:00:00'), 1, 613801.0),
 (Timestamp('2021-02-26 00:00:00'), 1, 622498.0),
 (Timestamp('2021-02-27 00:00:00'), 1, 337406.0),
 (Timestamp('2021-02-28 00:00:00'), 1, 146971.0),
 (Timestamp('2021-03-01 00:00:00'), 1, 600491.0),
 (Timestamp('2021-03-02 00:00:00'), 1, 591146.0),
 (Timestamp('2021-03-03 00:00:00'), 1, 634215.0),
 (Timestamp('2021-03-04 00:00:00'), 1, 630253.0),
 (Timestamp('2021-03-05 00:00:00'), 1, 682045.0),
 (Timestamp('2021-03-06 00:00:00'), 1, 373147.0),
 (Timestamp('2021-03-07 00:00:00'), 1, 171211.0),
 (Timestamp('2021-03-08 00:00:00'), 1, 636089.0),
 (Timestamp('2021-03-09 00:00:00'), 1, 674191.0),
 (Timestamp('2021-03-10 00:00:00'), 1, 676951.0),
 (Timestamp('2021-03-11 00:00:00'), 1, 668632.0),
 (Timestamp('2021-03-12 00:00:00'), 1, 694653.0),
 (Timestamp('2021-03-13 00:00:00'), 1, 382686.0),
 (Timestamp('2021-03-14 00:00:00'), 1, 159237.0),
 (Timestamp('2021-03-15 00:00:00'), 1, 676523.0),
 (Timestamp('2021-03-16 00:00:00'), 1, 631492.0),
 (Timestamp('2021-03-17 00:00:00'), 1, 663161.0),
 (Timestamp('2021-03-18 00:00:00'), 1, 697466.0),
 (Timestamp('2021-03-19 00:00:00'), 1, 699712.0),
 (Timestamp('2021-03-20 00:00:00'), 1, 257718.0),
 (Timestamp('2021-03-21 00:00:00'), 1, 159370.0),
 (Timestamp('2021-03-22 00:00:00'), 1, 709457.0),
 (Timestamp('2021-03-23 00:00:00'), 1, 721922.0),
 (Timestamp('2021-03-24 00:00:00'), 1, 260809.0),
 (Timestamp('2021-03-25 00:00:00'), 1, 486746.0),
 (Timestamp('2021-03-26 00:00:00'), 1, 661663.0),
 (Timestamp('2021-03-27 00:00:00'), 1, 337483.0),
 (Timestamp('2021-03-28 00:00:00'), 1, 148773.0),
 (Timestamp('2021-03-29 00:00:00'), 1, 676312.0),
 (Timestamp('2021-03-30 00:00:00'), 1, 708568.0),
 (Timestamp('2021-03-31 00:00:00'), 1, 726570.0),
 (Timestamp('2021-04-01 00:00:00'), 1, 490498.0),
 (Timestamp('2021-04-02 00:00:00'), 1, 199258.0),
 (Timestamp('2021-04-03 00:00:00'), 1, 324613.0),
 (Timestamp('2021-04-04 00:00:00'), 1, 134628.0),
 (Timestamp('2021-04-05 00:00:00'), 1, 555010.0),
 (Timestamp('2021-04-06 00:00:00'), 1, 665663.0),
 (Timestamp('2021-04-07 00:00:00'), 1, 651727.0),
 (Timestamp('2021-04-08 00:00:00'), 1, 633935.0),
 (Timestamp('2021-04-09 00:00:00'), 1, 522606.0),
 (Timestamp('2021-04-10 00:00:00'), 1, 236261.0),
 (Timestamp('2021-04-11 00:00:00'), 1, 108061.0),
 (Timestamp('2021-04-12 00:00:00'), 1, 559864.0),
 (Timestamp('2021-04-13 00:00:00'), 1, 557585.0),
 (Timestamp('2021-04-14 00:00:00'), 1, 548120.0),
 (Timestamp('2021-04-15 00:00:00'), 1, 531382.0),
 (Timestamp('2021-04-16 00:00:00'), 1, 547108.0),
 (Timestamp('2021-04-17 00:00:00'), 1, 253408.0),
 (Timestamp('2021-04-18 00:00:00'), 1, 93829.0),
 (Timestamp('2021-04-19 00:00:00'), 1, 512529.0),
 (Timestamp('2021-04-20 00:00:00'), 1, 521243.0),
 (Timestamp('2021-04-21 00:00:00'), 1, 528860.0),
 (Timestamp('2021-04-22 00:00:00'), 1, 510187.0),
 (Timestamp('2021-04-23 00:00:00'), 1, 513976.0),
 (Timestamp('2021-04-24 00:00:00'), 1, 240361.0),
 (Timestamp('2021-04-25 00:00:00'), 1, 102024.0),
 (Timestamp('2021-04-26 00:00:00'), 1, 513223.0),
 (Timestamp('2021-04-27 00:00:00'), 1, 540441.0),
 (Timestamp('2021-04-28 00:00:00'), 1, 541964.0),
 (Timestamp('2021-04-29 00:00:00'), 1, 534059.0),
 (Timestamp('2021-04-30 00:00:00'), 1, 554725.0),
 (Timestamp('2021-05-01 00:00:00'), 1, 150794.0),
 (Timestamp('2021-05-02 00:00:00'), 1, 104336.0),
 (Timestamp('2021-05-03 00:00:00'), 1, 488993.0),
 (Timestamp('2021-05-04 00:00:00'), 1, 505947.0),
 (Timestamp('2021-05-05 00:00:00'), 1, 538782.0),
 (Timestamp('2021-05-06 00:00:00'), 1, 522757.0),
 (Timestamp('2021-05-07 00:00:00'), 1, 533129.0),
 (Timestamp('2021-05-08 00:00:00'), 1, 294009.0),
 (Timestamp('2021-05-09 00:00:00'), 1, 111760.0),
 (Timestamp('2021-05-10 00:00:00'), 1, 528089.0),
 (Timestamp('2021-05-13 00:00:00'), 1, 543249.0),
 (Timestamp('2021-05-14 00:00:00'), 1, 474326.0),
 (Timestamp('2021-05-15 00:00:00'), 1, 284300.0),
 (Timestamp('2021-05-16 00:00:00'), 1, 110422.0),
 (Timestamp('2021-05-17 00:00:00'), 1, 532642.0),
 (Timestamp('2021-05-18 00:00:00'), 1, 544906.0),
 (Timestamp('2021-05-19 00:00:00'), 1, 552616.0),
 (Timestamp('2021-05-20 00:00:00'), 1, 544395.0),
 (Timestamp('2021-05-21 00:00:00'), 1, 506306.0),
 (Timestamp('2021-05-22 00:00:00'), 1, 134538.0),
 (Timestamp('2021-05-23 00:00:00'), 1, 59584.0),
 (Timestamp('2021-05-24 00:00:00'), 1, 133669.0),
 (Timestamp('2021-05-25 00:00:00'), 1, 103349.0),
 (Timestamp('2021-05-26 00:00:00'), 1, 400600.0),
 (Timestamp('2021-05-27 00:00:00'), 1, 399001.0),
 (Timestamp('2021-05-28 00:00:00'), 1, 420226.0),
 (Timestamp('2021-05-29 00:00:00'), 1, 197576.0),
 (Timestamp('2021-05-30 00:00:00'), 1, 81840.0),
 (Timestamp('2021-05-31 00:00:00'), 1, 490133.0),
 (Timestamp('2021-06-01 00:00:00'), 1, 521441.0),
 (Timestamp('2021-06-02 00:00:00'), 1, 543681.0),
 (Timestamp('2021-06-03 00:00:00'), 1, 543315.0),
 (Timestamp('2021-06-04 00:00:00'), 1, 558038.0),
 (Timestamp('2021-06-05 00:00:00'), 1, 222156.0),
 (Timestamp('2021-06-06 00:00:00'), 1, 98201.0),
 (Timestamp('2021-06-07 00:00:00'), 1, 556978.0),
 (Timestamp('2021-06-08 00:00:00'), 1, 563683.0),
 (Timestamp('2021-06-09 00:00:00'), 1, 551383.0),
 (Timestamp('2021-06-10 00:00:00'), 1, 557426.0),
 (Timestamp('2021-06-11 00:00:00'), 1, 603414.0),
 (Timestamp('2021-06-12 00:00:00'), 1, 291094.0),
 (Timestamp('2021-06-13 00:00:00'), 1, 116679.0),
 (Timestamp('2021-06-14 00:00:00'), 1, 573385.0),
 (Timestamp('2021-06-15 00:00:00'), 1, 579329.0),
 (Timestamp('2021-06-16 00:00:00'), 1, 576198.0),
 (Timestamp('2021-06-17 00:00:00'), 1, 569947.0),
 (Timestamp('2021-06-18 00:00:00'), 1, 609879.0),
 (Timestamp('2021-06-19 00:00:00'), 1, 306547.0),
 (Timestamp('2021-06-20 00:00:00'), 1, 120031.0),
 (Timestamp('2021-06-21 00:00:00'), 1, 153419.0),
 (Timestamp('2021-06-22 00:00:00'), 1, 599784.0),
 (Timestamp('2021-06-23 00:00:00'), 1, 584868.0),
 (Timestamp('2021-06-24 00:00:00'), 1, 557208.0),
 (Timestamp('2021-06-25 00:00:00'), 1, 623259.0),
 (Timestamp('2021-06-26 00:00:00'), 1, 341210.0),
 (Timestamp('2021-06-27 00:00:00'), 1, 102710.0),
 (Timestamp('2021-06-28 00:00:00'), 1, 554105.0),
 (Timestamp('2021-06-29 00:00:00'), 1, 563674.0),
 (Timestamp('2021-06-30 00:00:00'), 1, 565504.0),
 (Timestamp('2021-07-01 00:00:00'), 1, 581673.0),
 (Timestamp('2021-07-02 00:00:00'), 1, 615391.0),
 (Timestamp('2021-07-03 00:00:00'), 1, 367575.0),
 (Timestamp('2021-07-04 00:00:00'), 1, 150003.0),
 (Timestamp('2021-07-05 00:00:00'), 1, 617420.0),
 (Timestamp('2021-07-06 00:00:00'), 1, 623459.0),
 (Timestamp('2021-07-07 00:00:00'), 1, 577958.0),
 (Timestamp('2021-07-08 00:00:00'), 1, 594335.0),
 (Timestamp('2021-07-09 00:00:00'), 1, 271070.0),
 (Timestamp('2021-07-10 00:00:00'), 1, 368422.0),
 (Timestamp('2021-07-11 00:00:00'), 1, 163154.0),
 (Timestamp('2021-07-12 00:00:00'), 1, 551808.0),
 (Timestamp('2021-07-13 00:00:00'), 1, 629883.0),
 (Timestamp('2021-07-14 00:00:00'), 1, 615639.0),
 (Timestamp('2021-07-15 00:00:00'), 1, 507815.0),
 (Timestamp('2021-07-16 00:00:00'), 1, 655378.0),
 (Timestamp('2021-07-17 00:00:00'), 1, 390580.0),
 (Timestamp('2021-07-18 00:00:00'), 1, 146364.0),
 (Timestamp('2021-07-19 00:00:00'), 1, 624048.0),
 (Timestamp('2021-07-20 00:00:00'), 1, 646452.0),
 (Timestamp('2021-07-21 00:00:00'), 1, 640168.0),
 (Timestamp('2021-07-22 00:00:00'), 1, 639521.0),
 (Timestamp('2021-07-23 00:00:00'), 1, 667771.0),
 (Timestamp('2021-07-24 00:00:00'), 1, 371634.0),
 (Timestamp('2021-07-25 00:00:00'), 1, 141257.0),
 (Timestamp('2021-07-26 00:00:00'), 1, 638768.0),
 (Timestamp('2021-07-27 00:00:00'), 1, 639794.0),
 (Timestamp('2021-07-28 00:00:00'), 1, 616686.0),
 (Timestamp('2021-07-29 00:00:00'), 1, 624607.0),
 (Timestamp('2021-07-30 00:00:00'), 1, 661074.0),
 (Timestamp('2021-07-31 00:00:00'), 1, 361896.0),
 (Timestamp('2021-08-01 00:00:00'), 1, 158051.0),
 (Timestamp('2021-08-02 00:00:00'), 1, 679563.0),
 (Timestamp('2021-08-03 00:00:00'), 1, 679744.0),
 (Timestamp('2021-08-04 00:00:00'), 1, 690260.0),
 (Timestamp('2021-08-05 00:00:00'), 1, 708659.0),
 (Timestamp('2021-08-06 00:00:00'), 1, 769360.0),
 (Timestamp('2021-08-07 00:00:00'), 1, 493222.0),
 (Timestamp('2021-08-08 00:00:00'), 1, 124467.0),
 (Timestamp('2021-08-09 00:00:00'), 1, 603177.0),
 (Timestamp('2021-08-10 00:00:00'), 1, 712515.0),
 (Timestamp('2021-08-11 00:00:00'), 1, 729346.0),
 (Timestamp('2021-08-12 00:00:00'), 1, 744449.0),
 (Timestamp('2021-08-13 00:00:00'), 1, 781188.0),
 (Timestamp('2021-08-14 00:00:00'), 1, 452690.0),
 (Timestamp('2021-08-15 00:00:00'), 1, 201988.0),
 (Timestamp('2021-08-16 00:00:00'), 1, 239858.0),
 (Timestamp('2021-08-17 00:00:00'), 1, 754294.0),
 (Timestamp('2021-08-18 00:00:00'), 1, 785866.0),
 (Timestamp('2021-08-19 00:00:00'), 1, 695436.0),
 (Timestamp('2021-08-20 00:00:00'), 1, 789319.0),
 (Timestamp('2021-08-21 00:00:00'), 1, 436538.0),
 (Timestamp('2021-08-22 00:00:00'), 1, 205347.0),
 (Timestamp('2021-08-23 00:00:00'), 1, 736491.0),
 (Timestamp('2021-08-24 00:00:00'), 1, 760098.0),
 (Timestamp('2021-08-25 00:00:00'), 1, 770097.0),
 (Timestamp('2021-08-26 00:00:00'), 1, 771512.0),
 (Timestamp('2021-08-27 00:00:00'), 1, 793107.0),
 (Timestamp('2021-08-28 00:00:00'), 1, 456928.0),
 (Timestamp('2021-08-29 00:00:00'), 1, 211520.0),
 (Timestamp('2021-08-30 00:00:00'), 1, 761757.0),
 (Timestamp('2021-08-31 00:00:00'), 1, 776118.0),
 (Timestamp('2021-09-01 00:00:00'), 1, 673045.0),
 (Timestamp('2021-09-02 00:00:00'), 1, 696279.0),
 (Timestamp('2021-09-03 00:00:00'), 1, 832866.0),
 (Timestamp('2021-09-04 00:00:00'), 1, 456162.0),
 (Timestamp('2021-09-05 00:00:00'), 1, 198844.0),
 (Timestamp('2021-09-06 00:00:00'), 1, 821729.0),
 (Timestamp('2021-09-07 00:00:00'), 1, 639064.0),
 (Timestamp('2021-09-08 00:00:00'), 1, 614335.0),
 (Timestamp('2021-09-09 00:00:00'), 1, 745729.0),
 (Timestamp('2021-09-10 00:00:00'), 1, 696602.0),
 (Timestamp('2021-09-11 00:00:00'), 1, 405638.0),
 (Timestamp('2021-09-12 00:00:00'), 1, 18620.0),
 (Timestamp('2021-09-13 00:00:00'), 1, 801791.0),
 (Timestamp('2021-09-14 00:00:00'), 1, 844077.0),
 (Timestamp('2021-09-15 00:00:00'), 1, 811557.0),
 (Timestamp('2021-09-16 00:00:00'), 1, 851123.0),
 (Timestamp('2021-09-17 00:00:00'), 1, 881013.0),
 (Timestamp('2021-09-18 00:00:00'), 1, 525989.0),
 (Timestamp('2021-09-19 00:00:00'), 1, 209942.0),
 (Timestamp('2021-09-20 00:00:00'), 1, 809783.0),
 (Timestamp('2021-09-21 00:00:00'), 1, 871575.0),
 (Timestamp('2021-09-22 00:00:00'), 1, 818477.0),
 (Timestamp('2021-09-23 00:00:00'), 1, 845545.0),
 (Timestamp('2021-09-24 00:00:00'), 1, 896613.0),
 (Timestamp('2021-09-25 00:00:00'), 1, 516037.0),
 (Timestamp('2021-09-26 00:00:00'), 1, 239172.0),
 (Timestamp('2021-09-30 00:00:00'), 1, 772300.0),
 (Timestamp('2021-10-01 00:00:00'), 1, 914131.0),
 (Timestamp('2021-10-02 00:00:00'), 1, 473945.0),
 (Timestamp('2021-10-03 00:00:00'), 1, 215701.0),
 (Timestamp('2021-10-04 00:00:00'), 1, 906086.0),
 (Timestamp('2021-10-05 00:00:00'), 1, 953255.0),
 (Timestamp('2021-10-06 00:00:00'), 1, 940673.0),
 (Timestamp('2021-10-07 00:00:00'), 1, 13677.0),
 (Timestamp('2021-10-08 00:00:00'), 1, 7331.0),
 (Timestamp('2021-10-09 00:00:00'), 1, 16536.0),
 (Timestamp('2021-10-10 00:00:00'), 1, 3501.0),
 (Timestamp('2021-10-11 00:00:00'), 1, 6507.0),
 (Timestamp('2021-10-12 00:00:00'), 1, 963183.0),
 (Timestamp('2021-10-13 00:00:00'), 1, 930961.0),
 (Timestamp('2021-10-14 00:00:00'), 1, 929089.0),
 (Timestamp('2021-10-15 00:00:00'), 1, 989237.0),
 (Timestamp('2021-10-16 00:00:00'), 1, 608366.0),
 (Timestamp('2021-10-17 00:00:00'), 1, 255101.0),
 (Timestamp('2021-10-18 00:00:00'), 1, 944001.0),
 (Timestamp('2021-10-19 00:00:00'), 1, 941259.0)]

In [ ]:
cursor.executemany(insertar_tren, filas_tren)

315

In [ ]:
conexion.commit()

In [ ]:
insertar_colectivo = """
INSERT INTO colectivo (fecha, tipoTransporte, cantidad)
VALUES (%s, %s, %s)
"""

In [ ]:
filas_colectivo = [tuple(colectivo.iloc[i].values) for i in range(colectivo.shape[0])]

In [ ]:
cursor.executemany(insertar_colectivo, filas_colectivo)

318

In [ ]:
conexion.commit()

In [ ]:
joined_tables = """
select subte.fecha, subte.tipoTransporte, subte.cantidad,
tren.tipoTransporte, tren.cantidad,
colectivo.tipoTransporte, colectivo.cantidad
from subte
join tren
on subte.fecha = tren.fecha
join colectivo
on subte.fecha = colectivo.fecha;
"""

In [ ]:
cursor.execute(joined_tables)

188

In [ ]:
new_df = pd.DataFrame(columns=['fecha', 'subte', 'cantidad_subte', 'tren', 'cantidad_tren', 
                               'colectivo', 'cantidad_colectivo'])

In [ ]:
for idx, val in enumerate(cursor):
    new_df.loc[idx] = val

In [ ]:
new_df

,fecha,subte,cantidad_subte,tren,cantidad_tren,colectivo,cantidad_colectivo
0,2020-12-11,3,183398.0,1,571729.0,2,2479450.0
1,2020-12-12,3,102781.0,1,324752.0,2,1767150.0
2,2020-12-13,3,40472.0,1,107034.0,2,924709.0
3,2020-12-14,3,177083.0,1,584492.0,2,2436950.0
4,2020-12-15,3,175625.0,1,572220.0,2,2456860.0
...,...,...,...,...,...,...,...
183,2021-10-14,3,525582.0,1,929089.0,2,3799120.0
184,2021-10-15,3,525513.0,1,989237.0,2,4021970.0
185,2021-10-16,3,283811.0,1,608366.0,2,2568440.0
186,2021-10-17,3,163059.0,1,255101.0,2,1562570.0
187,2021-10-18,3,508730.0,1,944001.0,2,3615210.0